<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css" />
    <title>123Go</title>
</head>
<body>
    <div id="main-container">
        <header>
            <img src="../assets/img/logo_sass.png" id="main-logo"/>
            <nav class="visible-md visible-lg">
                <span class="menu-item">Conócenos</span>
                <span class="menu-item">Ayuda</span>
                <span class="menu-item">Contáctanos</span>
            </nav>
            <nav class="hidden-md hidden-lg" id="mobile-menu">
                <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
            </nav>
        </header>
        <div class="container">
            <section id="home-filter-section">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 center white-color">
                        <h3>Compara, cotiza y elige tu aseguradora en <strong>un dos</strong> por <strong>tres</strong></h3>
                    </div>
                </div>
                <div class="row">
                    <div id="filter-container">
                        <div class="box-legend">
                            Mi vehículo es un:
                        </div>
                        <div id="filters">
                            <div class="fifth-filter left">
                                Marca
                                <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                            </div>
                            <div class="menu-rollover visible-xs">
                                <div id="most-searched">
                                    Marcas más buscadas:
                                </div>
                                <div class="items-scroller">
                                    <div class="item">BMW</div>
                                    <div class="item">Chevrolet</div>
                                    <div class="item">Volvo</div>
                                    <div class="item">Ford</div>
                                    <div class="item">VW</div>
                                    <div class="item">Dodge</div>
                                </div>
                                <div id="see-all">
                                    Ver todas
                                </div>
                            </div>
                            <div class="fifth-filter">
                                Tipo
                                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </div>
                            <div class="fifth-filter">
                                Año
                                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </div>
                            <div class="fifth-filter right">
                                Descripción
                                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </div>
                            <div class="fifth-filter button">
                                <div class="button button-green">Cotizar<span class="hidden-sm"> ahora</span></div>
                            </div>
                        </div>
                        <div class="menu-rollover hidden-xs">
                            <div id="most-searched">
                                Marcas más buscadas:
                            </div>
                            <div class="items-scroller">
                                <div class="item">BMW</div>
                                <div class="item">Chevrolet</div>
                                <div class="item">Volvo</div>
                                <div class="item">Ford</div>
                                <div class="item">VW</div>
                                <div class="item">Dodge</div>
                            </div>
                            <div id="see-all">
                                Ver todas
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="logos-container">
                <div class="container center">
                    Contamos con las mejores aseguradoras del mercado
                    <div>
                        <img src="../assets/img/logo_sass.png"/>
                        <img src="../assets/img/logo_sass.png"/>
                        <img src="../assets/img/logo_sass.png"/>
                        <img src="../assets/img/logo_sass.png"/>
                        <img src="../assets/img/logo_sass.png"/>
                        <img src="../assets/img/logo_sass.png"/>
                        <img src="../assets/img/logo_sass.png"/>
                        <img src="../assets/img/logo_sass.png"/>
                    </div>
                </div>
            </section>
        </div>
        <footer>
            <div id="links" class="hidden-xs">
                123GoSeguro. <strong>Legales</strong>. <strong>Preguntas Frecuentes</strong>.
            </div>
            <div id="chat-button">
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                <span class="hidden-xs">Chat en línea</span>
            </div>
        </footer>
    </div>
</body>
</html>